.main{
		width: 100%;
		display: block;
	}
	.left{
		width: 35%;
		float:left;

		}
	.content{
			width: 50%;
		    min-height: 100px;
		    float:left;
		    margin: 0 auto;
	}
	.right{
		width: 15%;

	     float:left;
	      min-height: 100px;
	     
	}
	
	table,tr,td{
		border: 1px solid black;
		border-collapse: collapse;
		padding: 12px;
		text-align: center;
		text-transform: capitalize;
	}
	table{
		width: 95%;
	}
	span{
		display: none;
	}
	.vanA:hover span,.vanA:hover{
		font-weight: bold;
		color: #b31010;
		display: block;
		transition: transform .9s ease;

	}
	